@import '~@sparkpost/matchbox/src/styles/config.scss';

.Wrapper {
  padding: spacing() 0 0 0;
}

.Action {
  display: flex;

  p {
    flex: 1 0 0;
    font-size: rem(13);
  }
}


.ActionWrapper:last-child {
  .Dash {
    display: none;
  }

  p {
    margin-bottom: 0;
  }
}

.Dash {
  border: none;
  margin-bottom: spacing();
  height: 1px;
  background: center left / 10px 1px  linear-gradient(to right, transparent 40%, color(gray, 8) 40%) repeat-x;
}

%Icon {
  flex: 0 0 0;
  min-width: rem(45);
}

.IconBad {
  @extend %Icon;
  color: color(red, dark);
}

.IconGood {
  @extend %Icon;
  color: color(green, dark);
}

.IconWarning {
  @extend %Icon;
  color: color(yellow, dark);
}

.Title {
  border-bottom: 1px solid color(gray, 8);
  margin-bottom: spacing();
  padding-top: spacing(small);
}

.TitleText {
  font-weight: 500;
  font-size: rem(15);
}

.Link {
  white-space: nowrap
}
