@import '~@sparkpost/matchbox/src/styles/config.scss';

.ChartHeader {
  display: flex;
  align-items: baseline;
}

.Title {
  font-weight: 500;
  font-size: rem(15);
  margin-bottom: 0;
}

.Line {
  border-bottom: 1px solid color(gray, 9);
  margin-top: spacing();
  margin-bottom: spacing(larger);
}

.PrimaryArea {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.Tooltip {
  display: inline-block;
  line-height: normal;
  margin: 0 spacing(small);
}

.TooltipIcon {
  color: color(blue);
  margin-top: -0.2em;
}
