@import '~@sparkpost/matchbox/src/styles/config.scss';

.ChartHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Title {
  padding-top: spacing(small);
  font-weight: 500;
  font-size: rem(15);
  margin-bottom: 0;
}

.Line {
  margin-top: spacing();
  margin-bottom: spacing(larger);
}

.Tooltip {
  color: color(blue);
}
