@import '~@sparkpost/matchbox/src/styles/config.scss';

.Controls {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.Header {
  display: flex;
  align-items: baseline;
  padding: spacing();

  h5 {
    font-weight: 500;
  }
}
