@import '~@sparkpost/matchbox/src/styles/config.scss';

.FormPanel, .EditorPanel {
  position: relative;

}

.EditorPanel {
  margin-bottom: 0;
  z-index: 1;

  @media screen and (min-width: breakpoint(medium)) {
    max-height: 100%;
  }
}

.EditorSection {

  margin-top: spacing();

  @media screen and (min-width: breakpoint(medium)) {
    margin-top: 0;
  }
}

.Error {
  position: absolute;
  z-index: 1;
  top: rem(-40);
  right: spacing();
  line-height: rem(15);
}
