@import '~@sparkpost/matchbox/src/styles/config.scss';

.FormPanel, .EditorPanel {
  height: 100%;
  position: relative;
}

.EditorPanel {
  margin-bottom: 0;
  z-index: 1;

  @media screen and (min-width: breakpoint(medium)) {
    height: 100%;
    max-height: 100%;
  }
}

.EditorSection {
  margin-top: spacing();
  @media screen and (min-width: breakpoint(medium)) {
    margin-top: 0;
  }
}

.Error {
  position: absolute;
  z-index: 1;
  top: spacing(large);
  right: spacing();
  font-size: rem(13);
  line-height: rem(15);
  font-weight: 500;
  color: color(red);
}
