@import '~@sparkpost/matchbox/src/styles/config.scss';

.Name {
  margin-bottom: 0;
}

.Id {
  margin-bottom: 0;
  line-height: 1.4em;
  font-size: rem(14);
}

.LastUpdated {
  margin-bottom: 0;
  font-size: rem(14);
}
