@import '~@sparkpost/matchbox/src/styles/config.scss';

.Cancel {
  margin-left: spacing();
}

// Force <Error /> to align nicely after a <Button />
.ErrorWrapper {
  display: inline-block;
  margin-left: spacing();
  vertical-align: middle;
}

.AddInfo {
  background-color: #f2f2f5;
  margin-top: spacing();
  padding: spacing();
}
