@import '~@sparkpost/matchbox/src/styles/config.scss';

.Grants {
  display: none;
  margin-bottom: 1rem;

  &.show {
    display: flex;
  }
}

.Grant {
  display: inline-block;
  margin-bottom: rem(3);
  min-width: rem(210);
  width: 33%;
  margin-right: -4px;
}
