@import '~@sparkpost/matchbox/src/styles/config.scss';

.MainLabel {
  display: block;

  .selected & {
    color: color(orange);
  }
}

.SupportLabel {
  display: block;
  color: color(gray, 2);
  font-size: rem(15);
  font-weight: 400;
}

