@import '~@sparkpost/matchbox/src/styles/config.scss';

.Action {
  margin: rem(12) spacing() 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.EditorPanel {
  height: 93%;
  margin-bottom: 0;
  position: relative;
  z-index: 1;

  @media screen and (min-width: breakpoint(medium)) {
    max-height: 100%;
  }
}

.EditorSection {
  position: relative;
  height: 100%;
  margin-top: spacing();

  @media screen and (min-width: breakpoint(medium)) {
    margin-top: 0;
  }
}
