@import '~@sparkpost/matchbox/src/styles/config.scss';

.DivergingBar .xAxis .recharts-cartesian-axis-line {
  stroke: color(gray, 7);
}

.DivergingBar .yAxis text {
  user-select: none;
  pointer-events: none;
}
