// Global scoped to target recharts classnames
.recharts-sector {
  fill-opacity: 1;
  transition: fill-opacity 0.3s;
}

.Chart--hover {
  .recharts-sector {
    fill-opacity: 0.4;
  }
}

.recharts-sector.Chart--forceOpacity {
  fill-opacity: 1 !important;
}

.recharts-sector.Chart--hasChildren {
  cursor: pointer;
}
