.st0{fill:#828287}
.st1{fill:#f2f2f5}
.st2{fill:#d2d2d7;stroke:#d2d2d7;stroke-width:0.75;}
.st3{fill:#aaaaaf}
.st5{fill:none;stroke:#414146;stroke-width:0.75;stroke-miterlimit:10}
.st6{fill:none;stroke:#d2d2d7;stroke-linecap:round;stroke-linejoin:round}
.st10{fill:#fa6423}
.st13{fill:none;stroke:#37aadc;stroke-linecap:round;stroke-linejoin:round}
.st13,.st14,.st15{stroke-width:0.75;stroke-miterlimit:10}
.st14{stroke-linecap:round;stroke-linejoin:round;fill:none;stroke:#bebec3}
.st15{fill:#f2f2f5;stroke:#37aadc}
.st16{fill:#f2f2f5}
.st17{fill:#f2f2f5;stroke:#fa6423;stroke-width:0.75;stroke-miterlimit:10}
.st18{fill:#c8c8cd;stroke:#c8c8cd;}
.st19{fill:#37aadc;stroke-width:0.5;stroke:#37aadc}
