@import '~@sparkpost/matchbox/src/styles/config.scss';

.NoIssues {
  height: rem(600);
}

.Message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
