@import '~@sparkpost/matchbox/src/styles/config.scss';

.Results {
  height: rem(525);
  overflow-y: scroll;

  &.shorten {
    height: rem(425);
  }
}

.Results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
