@import '~@sparkpost/matchbox/src/styles/config.scss';

.Results {
  height: rem(457); // must exclude search input
  overflow-y: scroll;
}

.Results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
