@import '~@sparkpost/matchbox/src/styles/config.scss';

.ToggleButton {
  float: right;
}

.Phone {
  display: inline-block;

  p {
    margin-bottom: 0;
    font-size: rem(14);
    line-height: 1.4em;
  }
}

.PhoneLink {
  color: color(gray, 2);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.Spacer {
  display: inline-block;
  padding: 0 spacing(small);
  color: color(gray, 6);
}
