@import '~@sparkpost/matchbox/src/styles/config.scss';

.SupportForm {
  height: rem(570);
}

.SuccessMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CancelBtn, .ToggleButton {
  float: right;
}

.Results {
  height: rem(425);
  overflow-y: scroll;
}

.Results ul {
  list-style-type: none;
}

.HelpText {
  float: left;
}
