@import '~@sparkpost/matchbox/src/styles/config.scss';

.Support {
  min-height: rem(530);
}

.SupportContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: rem(530);
  justify-content: center;
}
