@import '~@sparkpost/matchbox/src/styles/config.scss';

.EmptyDataCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.PaddedCell {
  padding: spacing(small) spacing();
}

.OverflowCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: color(gray, 4);
}

.Red {
  color: color(red, dark);
}

.Green {
  color: color(green, dark);
}

.WowWrapper {
  display: flex;
  & > * {
    white-space: nowrap;
    text-align: right;
  }
}

.WowCaret {
  flex: 1 0 0;
}

.WowValue {
  flex: 0 0 0;
  min-width: rem(50);
}

.InfoIcon {
  margin-top: -0.15em;
  color: color(gray, 4);
}
