@import '~@sparkpost/matchbox/src/styles/config.scss';

.EmptyDataCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.PaddedCell {
  padding: spacing(small) spacing();
}

.OverflowCell {
  width: 260px; // Overflow only works with pixel values
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: color(gray, 4);
}
