@import '~@sparkpost/matchbox/src/styles/config.scss';

.AddMetric {
  position: absolute;
  right: spacing(large);
  top: spacing(large);
}

.ChartSection {
  position: relative;
  padding: spacing();
  min-height: rem(200);

  opacity: 1;
  pointer-events: auto;
  transition: 0.15s;
}

.pending {
  opacity: 0.5;
  pointer-events: none;
}

.Loading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TimeMode {
  display: inline-block;
  font-size: rem(13);
  line-height: rem(15);
  color: color(gray, 4);
  padding: spacing(small) 0 0;
}

.ChartHeader {
  margin-bottom: spacing(large);
}

.Controls {
  margin-top: spacing();
  margin-left: spacing(larger);
  text-align: left;

  & * {
    text-align: left;
  }

  @media screen and (min-width: breakpoint(small)) {
    margin-top: 0;
    margin-left: 0;
    text-align: right;
  }
}

.ButtonSpacer {
  margin-left: spacing(small);
}
