@import '~@sparkpost/matchbox/src/styles/config.scss';

.CheckBoxGrid {
  display: grid;
  grid-template-columns: 1fr;

  fieldset {
    white-space: normal;
  }

  @media screen and (min-width: breakpoint(medium)) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }

  @media screen and (min-width: breakpoint(larger)) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
  }
}

.FieldWrapper {
  display: inline-block;
  margin: 0 0 spacing();
  width: 100%;
  padding-right: 0;

  @media screen and (min-width: breakpoint(small)) {
    width: 50%;

    &:nth-child(2n) {
      padding-right: spacing();
    }
  }
}

.Cancel {
  margin-left: spacing();
}
