@import '~@sparkpost/matchbox/src/styles/config.scss';

.CheckBoxGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  fieldset {
    white-space: normal;
    margin: 0;
  }

  @media screen and (min-width: breakpoint(medium)) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.FieldWrapper {

  margin: 0 0 spacing();
  width: 100%;
  padding-right: 0;


  @media screen and (min-width: breakpoint(small)) {
    width: 50%;

    &:nth-child(2n) {
      padding-right: spacing();
    }
  }
}

.Cancel {
  margin-left: spacing();
}
.SmallText{
  margin-left: spacing();
  font-size: 100%;
}

.Icon {
  margin-left: 3px;
  margin-bottom: 3px;
}


