@import '~@sparkpost/matchbox/src/styles/config.scss';

.HeaderCell {
  padding: spacing() spacing() spacing(small);
  vertical-align: bottom;
}

.PanelTitle {
  @include text-style-smaller-heading;
  color: color(gray, 1);
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Row {
  transition: 0.15s;

  &:not(.selected):hover {
    cursor: pointer;
    background: lighten(color(gray, 9), 1);

    .Chevron {
      color: color(gray, 4);
    }
  }
}

.selected {
  .Chevron {
    color: color(orange, dark);
  }
}

.Chevron {
  color: color(gray, 6);
  transition: 0.15s;
}
