@import '~@sparkpost/matchbox/src/styles/config.scss';

.Header {
  @include text-style-heading;
  margin-bottom: spacing(smaller);
  color: color(gray, 2);
}

.Empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: rem(180);
  flex-direction: column;
}
