@import '~@sparkpost/matchbox/src/styles/config.scss';

.NestedList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Link, .Link:visited {
  position: relative;
  display: flex;
  padding: rem(9) rem(18);
  color: color(gray, 2);

  text-decoration: none;
  border-bottom: none;
  font-size: rem(14);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: 0.15s;
  user-select: none;

  &.mobile {
    padding: rem(15) rem(18);
    font-size: rem(16);
  }

  &:hover {
    color: color(gray, 0);
    cursor: pointer;
    .chevron { fill: color(gray, 1); }
    .icon { fill: color(gray, 1); }
  }

  &:focus {
    color: color(gray, 0);
  }

  &.isActive:not(.hasChildren) {
    color: color(orange);
    font-weight: 500;
    .icon { fill: color(orange); }
  }

  &.hasChildren {
    & + .NestedList {
      display: none;
    }
  }

  &.hasChildren.isOpen {
    .chevron {
      transform: translate(0, -50%) rotate(90deg);
    }

    & + .NestedList {
      display: block;
    }
  }
}

.NestedList {
  margin-bottom: rem(13);
}

.NestedList .Link {
  padding: rem(4) rem(18) rem(4) rem(54);
  font-weight: 400;

  &.isActive {
    font-weight: 500;
  }

  &.mobile {
    padding: rem(10) spacing(large) rem(10) rem(54);
  }
}

.iconWrapper {
  display: inline-block;
  width: rem(36);
}

.icon {
  fill: color(gray, 5);
  transition: 0.1s;
}

.chevron {
  position: absolute;
  top: 50%;
  right: rem(15);
  width: rem(24);
  height: rem(24);
  transform: translate(0, -50%) rotate(-90deg);
  fill: color(gray, 6);
}

.divider {
  margin-top: spacing();
}

.Label {
  flex: 1 0 0;
}

.releaseTag {
  align-self: flex-end;
}
