@import '~@sparkpost/matchbox/src/styles/config.scss';

.Top {
  position: fixed;
  z-index: z-index(overlay) - 2;
  left: 0;
  right: 0;
  top: 0;
  height: rem(56);

  background: color(gray, 1);

  display: flex;

  :global(.heroku-boomerang-loaded) & {
    top: 30px;
  }
}

.Logo {
  flex: 0 0 0;
  padding: rem(9) spacing() rem(15);
  min-width: rem(250);
  height: 100%;
  border-right: 1px solid darken(color(gray, 1), 3);
}

.MobileLogo {
  flex: 1 0 0;
  padding: rem(6) spacing() rem(18);
  text-align: center;
}

.RightSideWrapper, .MobileAccountDropdownWrapper {
  flex: 1 0 0;
  text-align: right;
  padding: rem(14) spacing();
}

.MobileAccountDropdownWrapper {
  flex: 0 0 0;
}

.Menu {
  flex: 0 0 0;
  padding: rem(14) spacing();
  color: color(gray, 7);

  &:hover {
    color: color(gray, 10);
  }
}

.SupportIcon {
  cursor: pointer;
  fill: color(gray, 5);
  margin: 0 spacing() 0 0;

  &:hover {
    fill: color(gray, 10);
  }
}
