@import '~@sparkpost/matchbox/src/styles/config.scss';

.wrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  background: color(gray, 9);
}

.accent:before {
  display: block;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  background: color(orange);
  z-index: z-index(overlay) - 1;
}

.aside {
  position: relative;
  z-index: z-index(overlay) - 2;
  flex: 0 0 0;

  @media screen and (min-width: breakpoint(medium)) {
    flex: 1 0 0;
    max-width: rem(220);
    min-width: rem(220);
  }
}

.content {
  position: relative;
  padding: spacing(larger);

  .app & {
    flex: 1 0 0;
    margin-top: rem(70);

    @media screen and (min-width: breakpoint(medium)) {
      margin-top: rem(0);
    }
  }

  .form & {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.container {
  position: relative;

  .form & {
    flex: 1 0 0;
    max-width: rem(520);
    margin: 0 auto;
  }

  .app & {
    min-height: 100%;
    max-width: rem(1020);
    margin: 0 auto;
  }
}
