@import '~@sparkpost/matchbox/src/styles/config.scss';

.wrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  background: color(gray, 9);
}

.content {
  position: relative;
  padding: spacing(large);
  overflow: hidden;

  .app & {
    flex: 1 0 0;
    padding: rem(56) spacing(larger) spacing(larger);
  }

  .form &, .largeForm & {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.container {
  position: relative;

  .form & {
    flex: 1 0 0;
    max-width: rem(520);
    margin: 0 auto;
  }

  .largeForm & {
    flex: 1 0 0;
    max-width: rem(700);
    margin: 0 auto;
  }

  .app & {
    min-height: 100%;
    max-width: rem(1080);
    margin: 0 auto;
  }
}
