@import '~@sparkpost/matchbox/src/styles/config.scss';

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Label {
  margin-bottom: 0;
  font-size: rem(15);

  &.link a {
    color: color(blue);
    text-decoration: none;

    &:hover {
      color: color(blue, dark);
    }
  }
}

.HelpText {
  color: color(gray, 3);

  *:last-child {
    margin-bottom: 0;
  }
}

.Content {
  flex: 1 0 0;
}

.Icon {
  flex: 1 0 0;
  max-width: 28px;
  margin-right: spacing();
}

.NotCompleted, .CompletedBackDrop {
  position: relative;
  width: 28px;
  height: 28px;

  border-radius: 50%;
  border: 2px solid color(gray, 8);
}

.Completed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: color(green);
  stroke: color(green);
  stroke-width: 1px;
}

.CompletedBackDrop {
  border: 2px solid color(green);
}
