@import '~@sparkpost/matchbox/src/styles/config.scss';

.Item {

}

.Label {
  margin-bottom: 0;
  font-size: rem(15);

  &.link a {
    color: color(blue);
    text-decoration: none;

    &:hover {
      color: color(blue, dark);
    }
  }
}

.HelpText {
  color: color(gray, 4);

  *:last-child {
    margin-bottom: 0;
  }
}

.Content {
  display: inline-block;
  vertical-align: middle;
}

.Completed {
  display: inline-block;
  vertical-align: middle;
  margin-right: spacing();
  margin-top: -3px;
  fill: color(green);
  stroke: color(green);
  stroke-width: 3px;
}
