@import '~@sparkpost/matchbox/src/styles/config.scss';

.EngagementSummary {
  padding: rem(30);

  h1 {
    @include text-style-display-heading;
    font-size: rem(36);
    margin-bottom: 0;
  }

  h6 {
    color: color(gray, 3);
    font-weight: 400;
    margin-bottom: spacing();

    @media screen and (min-width: breakpoint(small)) {
      margin-bottom: 0;
    }
  }

  p {
    font-size: rem(19);
    color: color(gray, 3);
    margin-bottom: 0;

    strong {
      color: color(gray, 1);
    }
  }
}
