@import '~@sparkpost/matchbox/src/styles/config.scss';

.Navigation {
  position: fixed;
  z-index: 100;
  width: rem(250);

  border-right: 1px solid color(gray, 8);
  background: color(gray, 9);

  &.mobile {
    width: 60vw;
    border-right: none;
    background: color(gray, 10);

    opacity: 0.5;
    pointer-events: none;
    transform: translate(-100%, 0);
    transition: 0.1s ease-in;

    @media screen and (min-width: breakpoint(smaller)) {
      width: 40vw;
    }
  }

  &.mobile.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
    transition: 0.2s cubic-bezier(.1,1,.4,1);
  }
}

.Aside {
  position: relative;
  z-index: z-index(overlay) - 3;

  flex: 1 0 0;
  max-width: rem(250);
  min-width: rem(250);

  &.mobile {
    flex: 0 0 0;
    max-width: unset;
    min-width: unset;
  }
}

.Wrapper {
  overflow-y: auto;
  height: 100vh;
  padding-top: rem(56);
  box-shadow: none;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100%;
  padding-top: spacing(larger);
}

.Overlay {
  position: fixed;
  z-index: z-index(overlay) - 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(color(gray, 1), 0.8);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &:hover {
    cursor: pointer;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
