@import '~@sparkpost/matchbox/src/styles/config.scss';

.AddMetric {
  position: absolute;
  right: spacing(large);
  top: spacing(large);
}

.ChartSection {
  position: relative;
  padding: spacing();
}

.FieldWrapper {
  margin-bottom: spacing();
  @media screen and (min-width: breakpoint(medium)) {
    margin-bottom: 0;
  }
}
