@import '~@sparkpost/matchbox/src/styles/config.scss';

.AddMetric {
  position: absolute;
  right: spacing(large);
  top: spacing(large);
}

.ChartSection {
  position: relative;
  padding: spacing();
  min-height: rem(480);

  opacity: 1;
  pointer-events: auto;
  transition: 0.15s;
}

.pending {
  opacity: 0.5;
  pointer-events: none;
}

.FieldWrapper {
  margin-bottom: spacing();
  @media screen and (min-width: breakpoint(medium)) {
    margin-bottom: 0;
  }
}

.Loading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TimeMode {
  display: inline-block;
  font-size: rem(13);
  line-height: rem(15);
  color: color(gray, 4);
  padding: spacing(small) 0 0;
}

.Controls {
  position: absolute;
  top: rem(30);
  right: spacing(large);
}

.ButtonSpacer {
  margin-left: spacing(small);
}
