@import '~@sparkpost/matchbox/src/styles/config.scss';

.Wrapper {
  position: fixed;
  top: rem(75);
  right: spacing();

  z-index: z-index(overlay);
  text-align: right;
  overflow: hidden;
  pointer-events: none;

  :global(.heroku-boomerang-loaded) & {
    top: rem(60) + spacing() * 3;
  }
}


.Alert {
  padding-bottom: spacing();

  & > * {
    pointer-events: auto;
    text-align: left;
  }
}
