@import '~@sparkpost/matchbox/src/styles/config.scss';

.Wrapper {
  position: fixed;
  top: rem(90);
  right: spacing();

  z-index: z-index(overlay);
  text-align: right;
  overflow: hidden;

  @media screen and (min-width: breakpoint(medium)) {
    top: spacing();
  }
}


.Alert {
  padding-bottom: spacing();

  & > * {
    text-align: left;
  }
}
