@import '~@sparkpost/matchbox/src/styles/config.scss';

.Label, .Content {
  display: inline-block;
  vertical-align: top;
}

.Label {
  width: rem(120);
}

.Content {
  p {
    line-height: rem(24);
    margin-bottom: rem(0);
  }

  h6 {
    font-size: rem(16);
    line-height: rem(24);
    margin-bottom: rem(0);
  }
  
  svg {
    margin-top: -2px;
  }
}
