@import '~@sparkpost/matchbox/src/styles/config.scss';

.Label, .Content {
  display: inline-block;
  vertical-align: top;
}

.Label {
  width: rem(120);
}

.Content {
  line-height: rem(21);

  small {
    line-height: rem(16);
  }
  
  h6 {
    margin-bottom: 0;
  }
}
