@import '~@sparkpost/matchbox/src/styles/config.scss';

.email {
  color: color(blue, dark);
}

.validIcon {
  color: color(green)
}

.invalidIcon {
  color: color(red)
}

.IconWrapper {
  display: inline-block;
  width: rem(36);
  padding-right: spacing(small);
}

.Paragraph {
  margin-bottom: 0;
  padding-left: rem(40)
}

.Validity {
  margin-bottom: 0;
}
