@import '~@sparkpost/matchbox/src/styles/config.scss';

.email {
  color: color(blue, dark);
}

.validIcon {
  color: color(green)
}

.invalidIcon {
  color: color(red)
}

.IconWrapper {
  display: inline-block;
  padding-right: spacing(small);
}
