@import '~@sparkpost/matchbox/src/styles/config.scss';

.RangeButtonWrapper {
  margin-bottom: spacing(small);
}

.Popover {
  width: rem(640);
  padding: spacing();
}

.DateFields {
  margin: spacing() 0;
}
