@import '~@sparkpost/matchbox/src/styles/config.scss';

.RateValue {
  @include text-style-display-heading;
  font-size: rem(36);
  margin-bottom: 0;
}

.RateTitle {
  color: color(gray, 3);
  font-weight: 400;
  margin-bottom: spacing();

  @media screen and (min-width: breakpoint(small)) {
    margin-bottom: 0;
  }
}

.Description {
  font-size: rem(19);
  color: color(gray, 3);
  margin-bottom: 0;

  strong {
    color: color(gray, 1);
  }
}

.panelvertical {
  vertical-align: middle;
  height: 100%;
}

.Panel {
  padding: rem(30);
}

.Secondary {
  color: color(gray, 3);
  margin: 0;
}
