@import '~@sparkpost/matchbox/src/styles/config.scss';

.Typeahead {
  position: relative;
}

// Logo styles
.Logo {
  width: 23px;
  height: 23px;
  animation: rotate 1s linear infinite;
}

.List {
  position: absolute;
  z-index: 1;

  top: 100%;
  left: 0;
  right: 0;
  margin-top: 3px;

  background: color(gray, 10);
  box-shadow: shadow(deep);
  border-radius: border-radius();
  border: 1px solid color(gray, 7);

  opacity: 0;
  pointer-events: none;
  transform: scale(0.96);
  transition: 0.06s ease-out;
}

.open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.Item {
  display: flex;
}

.Value {
  flex: 1 0 0;
  padding-right: spacing();
  font-size: rem(15);
  font-weight: 400;
}

.HelpText {
  flex: 0 0 0;
  white-space: nowrap;
  text-align: right;
  font-size: rem(14);
  opacity: 0.8;
}

.Circle {
  stroke: color(orange);
  stroke-width: 2px;
  stroke-linecap: round;

  stroke-dasharray: 150 200;
  stroke-dashoffset: -10;
  animation: dash 1.5s ease-in-out infinite;

}

@keyframes dash {
  0% {
    stroke: adjust-hue(color(orange), 15);
    stroke-dasharray: 1 100;
    stroke-dashoffset: 0;
  }
  50% {
    stroke: color(orange);
    stroke-dasharray: 60 100;
    stroke-dashoffset: -15;
  }
  100% {
    stroke: adjust-hue(color(orange), 15);
    stroke-dasharray: 80 100;
    stroke-dashoffset: -70;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
