@import '~@sparkpost/matchbox/src/styles/config.scss';

.Check {
  color: color(orange);
}

.Option, a.Option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(9) spacing();
  color: color(gray, 4);
  transition: 0.15s;

  &:hover {
    background: color(gray, 9);
    color: color(gray, 1);
  }
}
