@import '../SparkPost.module';

.AwsMPLogo {
  display: inline-block;
  max-height: rem(60);
  margin-left: 30px;
}

.st0 {
  fill: #231F20;
}

.st1 {
  fill: #58595B;
}

.st2 {
  fill: #FF9900;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FF9900;
}

.st4 {
  fill: #1D74B9;
}

.st5 {
  fill: #82C4E9;
}


