@import '~@sparkpost/matchbox/src/styles/config.scss';

.DateRange, .Facet {
  width: rem(160);
}

.Divider {
  font-weight: lighter;
}

.Filters {
  display: flex;
  justify-content: space-between;
  width: rem(330);
}

.SubaccountSelect {
  display: inline-block;
  width: rem(160);

  select, select:focus {
    background: none;
    border: none;
    box-shadow: none;
  }
}
