@import '~@sparkpost/matchbox/src/styles/config.scss';

.DateFields {
  margin: spacing() 0;
  position: relative;
}

.PrecisionLabel {
  position: absolute;
  top: percentage(1);
  right: 0;
  margin-top: 1.4rem;
  font-style: italic;
}

.ArrowWrapper {
  text-align: center;
}
