@import '~@sparkpost/matchbox/src/styles/config.scss';

.Loading {
  width: rem(90);
  height: rem(90);
  fill: color(orange);
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
