@import '~@sparkpost/matchbox/src/styles/config.scss';

.IconWrapper {
  display: inline-block;
  padding: 0 spacing();
  margin-right: 2px;

  color: color(gray, 5);
  transition: 0.15s;

  user-select: none;

  &:hover {
    cursor: pointer;
    color: color(gray, 10);
  }
}

.UnreadIcon {
  color: color(blue);
  fill: color(gray, 5);
}

.ListWrapper {
  max-height: rem(450);
  overflow: auto;
}

.Empty {
  padding: spacing();
  width: rem(210);
}
