@import '~@sparkpost/matchbox/src/styles/config.scss';

.TooltipWrapper {
  background: color(gray, 1);
  box-shadow: shadow(deep);
  border-radius: border-radius(large);
  width: 250px;
  user-select: none;
}

.TooltipDate, .TooltipContent {
  padding: rem(9) rem(13);
  color: color(gray, 10);
}

.TooltipContent {
  font-size: rem(13);
}

.TooltipDate {
  font-size: rem(15);
  border-bottom: 1px solid darken(color(gray, 1), 5);
}
