@import '~@sparkpost/matchbox/src/styles/config.scss';


.Wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: rem(50);

  &:not(:last-child) {
    margin-bottom: spacing();
  }
}

.TooltipMetric {
  display: flex;
  justify-content: flex-start;
}

.Color {
  flex: 0 0 0;
  height: rem(50);
  min-width: 4px;
  max-width: 4px;
  margin-right: rem(12);
  background: red;
}

.Content {
  flex: 1 0 0;
  display: flex;
  height: rem(50);
  flex-direction: column;
  justify-content: space-around;
}

.hasDescription {
  justify-content: space-between;
}

.Label {
  font-size: rem(12);
  font-weight: 400;
  line-height: 0.8em;
}

.Description {
  font-size: rem(11);
  line-height: 1em;
  color: rgba(color(gray, 5), 0.8)
}

.Value {
  font-size: rem(22);
  font-weight: 500;
  line-height: 0.7em;
}
