@import '~@sparkpost/matchbox/src/styles/config.scss';

.LoadingSection {
  position: relative;
  height: 250px;
}

.Loading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.RightAlign {
  text-align: right;
}

.TopDomainsCheckbox {
  display: inline-block;
  margin-top: spacing(larger);

  @media screen and (min-width: breakpoint(small)) {
    float: right;
  }
}

.HeaderCell {
  font-size: rem(13);
  line-height: rem(18);
  vertical-align: bottom;
  word-break: normal;
}

.NumericalHeader {
  text-align: right;
  max-width: rem(170);
}
