@import '~@sparkpost/matchbox/styles.scss'; // Global Compiled
@import '~@sparkpost/matchbox/src/styles/config.scss';

// All components use REMs for sizing
// Adjusting the root font size here will scale the UI proportionally

html {
  background: color(gray, 9);
  font-size: rem(16);
  @media screen and (min-width: breakpoint(medium)) { font-size: rem(18); }
  @media screen and (min-width: breakpoint(larger)) { font-size: rem(20); }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

// Overrides Critical CSS. Prevents FOUT.
#critical.ready {
  opacity: 0 !important;
  pointer-events: none !important;
}
