@import url('//cloud.typography.com/6240112/7332192/css/fonts.css');
@import '~@sparkpost/matchbox/styles.scss'; // Global Compiled
@import '~@sparkpost/matchbox/src/styles/config.scss';

// All components use REMs for sizing
// Adjusting the root font size here will scale the UI proportionally

html {
  font-size: rem(16);
  @media screen and (min-width: breakpoint(medium)) { font-size: rem(18); }
  @media screen and (min-width: breakpoint(larger)) { font-size: rem(20); }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid color(gray, 8);
}
