@import '~@sparkpost/matchbox/src/styles/config.scss';

.GreenCheck {
  margin-right: 3px;
  color: color(green);

  path {
    stroke: color(green);
    stroke-width: 4px;
  }
}

.RedError {
  color: color(red);
}
