@import '~@sparkpost/matchbox/src/styles/config.scss';

.ReadyFor > * {
  margin-right: spacing(small);
  margin-bottom: spacing(smaller);
  // margin-top: spacing(smaller);

  &:last-child {
    margin-right: 0;
  }
}
