.Navigation-module__navigation___h-7dk {
  position: fixed;
  width: 13.88889rem;
  z-index: 100;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  @media screen and (min-width: 960px) {
    .Navigation-module__navigation___h-7dk {
      width: 12.22222rem;
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0); } }
  .Navigation-module__navigation___h-7dk.Navigation-module__showNav___2m69o {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-box-shadow: 10px 0px 30px rgba(65, 65, 70, 0.16);
            box-shadow: 10px 0px 30px rgba(65, 65, 70, 0.16); }

.Navigation-module__overlay___2u2K2 {
  display: block;
  content: "";
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(110, 110, 115, 0.8);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .Navigation-module__overlay___2u2K2.Navigation-module__showOverlay___1U2FM {
    opacity: 1;
    pointer-events: auto; }

.Navigation-module__wrapper___2NOzV {
  overflow-y: auto;
  height: 100vh;
  background: #414146; }

.Navigation-module__list___SRFdk, .Navigation-module__nestedList___2DmA4, .Navigation-module__footer___1FNvE {
  list-style: none;
  margin: 0;
  padding: 0; }

.Navigation-module__list___SRFdk {
  min-height: 100%;
  padding-bottom: 7.22222rem;
  margin-bottom: -7.22222rem;
  padding-top: 1rem; }

.Navigation-module__link___aioEU, .Navigation-module__link___aioEU:visited {
  position: relative;
  display: block;
  padding: 1rem 1.33333rem;
  color: #aaaaaf;
  text-decoration: none;
  border-bottom: none;
  font-size: 0.77778rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s; }
  .Navigation-module__link___aioEU:hover, .Navigation-module__link___aioEU:visited:hover {
    color: #ffffff;
    cursor: pointer; }
    .Navigation-module__link___aioEU:hover .Navigation-module__chevron___29w-A, .Navigation-module__link___aioEU:visited:hover .Navigation-module__chevron___29w-A {
      fill: #ffffff; }
    .Navigation-module__link___aioEU:hover .Navigation-module__icon___9rnyq, .Navigation-module__link___aioEU:visited:hover .Navigation-module__icon___9rnyq {
      fill: #e1e1e6; }
  .Navigation-module__link___aioEU.Navigation-module__isActive___6GcY2, .Navigation-module__link___aioEU:visited.Navigation-module__isActive___6GcY2 {
    color: #ffffff;
    background: #55555a; }
    .Navigation-module__link___aioEU.Navigation-module__isActive___6GcY2 .Navigation-module__icon___9rnyq, .Navigation-module__link___aioEU:visited.Navigation-module__isActive___6GcY2 .Navigation-module__icon___9rnyq {
      fill: #f2f2f5; }
  .Navigation-module__link___aioEU.Navigation-module__hasChildren___2blYm + .Navigation-module__nestedList___2DmA4, .Navigation-module__link___aioEU:visited.Navigation-module__hasChildren___2blYm + .Navigation-module__nestedList___2DmA4 {
    display: none; }
  .Navigation-module__link___aioEU.Navigation-module__hasChildren___2blYm.Navigation-module__isOpen___2zJ27, .Navigation-module__link___aioEU:visited.Navigation-module__hasChildren___2blYm.Navigation-module__isOpen___2zJ27 {
    background: #414146; }
    .Navigation-module__link___aioEU.Navigation-module__hasChildren___2blYm.Navigation-module__isOpen___2zJ27 .Navigation-module__chevron___29w-A, .Navigation-module__link___aioEU:visited.Navigation-module__hasChildren___2blYm.Navigation-module__isOpen___2zJ27 .Navigation-module__chevron___29w-A {
      -webkit-transform: translate(0, -50%) rotate(-90deg);
          -ms-transform: translate(0, -50%) rotate(-90deg);
              transform: translate(0, -50%) rotate(-90deg); }
    .Navigation-module__link___aioEU.Navigation-module__hasChildren___2blYm.Navigation-module__isOpen___2zJ27 + .Navigation-module__nestedList___2DmA4, .Navigation-module__link___aioEU:visited.Navigation-module__hasChildren___2blYm.Navigation-module__isOpen___2zJ27 + .Navigation-module__nestedList___2DmA4 {
      display: block; }

.Navigation-module__nestedList___2DmA4 {
  margin-bottom: 1rem; }

.Navigation-module__nestedList___2DmA4 .Navigation-module__link___aioEU {
  padding: 0.66667rem 1.33333rem 0.66667rem 3rem; }

.Navigation-module__iconWrapper___33QgY {
  display: inline-block;
  width: 1.66667rem; }

.Navigation-module__icon___9rnyq {
  fill: #828287;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

.Navigation-module__chevron___29w-A {
  position: absolute;
  top: 50%;
  right: 0.83333rem;
  width: 1.33333rem;
  height: 1.33333rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  fill: #828287;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

.Navigation-module__bar___19H_F {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 98;
  display: block;
  padding: 0.83333rem 1rem 0.5rem;
  background: #55555a; }
  @media screen and (min-width: 960px) {
    .Navigation-module__bar___19H_F {
      display: none; } }

.Navigation-module__open___33eJr {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border-radius: 2px; }
  .Navigation-module__open___33eJr:hover {
    cursor: pointer; }
    .Navigation-module__open___33eJr:hover .Navigation-module__hamburger___1kfR-, .Navigation-module__open___33eJr:hover .Navigation-module__hamburger___1kfR-:before, .Navigation-module__open___33eJr:hover .Navigation-module__hamburger___1kfR-:after {
      background: #ffffff; }

.Navigation-module__close___1F_Nl {
  position: absolute;
  left: 105%;
  top: 0.77778rem;
  fill: #ffffff;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .Navigation-module__showNav___2m69o .Navigation-module__close___1F_Nl {
    opacity: 1;
    pointer-events: auto; }

.Navigation-module__hamburger___1kfR-, .Navigation-module__hamburger___1kfR-:before, .Navigation-module__hamburger___1kfR-:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  width: 1.66667rem;
  background: #d2d2d7;
  border-radius: 2px;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s; }

.Navigation-module__hamburger___1kfR-:hover {
  cursor: pointer; }

.Navigation-module__hamburger___1kfR-:before, .Navigation-module__hamburger___1kfR-:after {
  display: block;
  content: ""; }

.Navigation-module__hamburger___1kfR-:before {
  top: -7px; }

.Navigation-module__hamburger___1kfR-:after {
  top: 7px; }
.GlobalError-module__GlobalError___hx8yg {
  position: absolute;
  width: 22.22222rem;
  left: 50%;
  -webkit-transform: translate(-50%, -25px);
      -ms-transform: translate(-50%, -25px);
          transform: translate(-50%, -25px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.3s cubic-bezier(0, 0, 0.5, 1.5);
  -o-transition: 0.3s cubic-bezier(0, 0, 0.5, 1.5);
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1.5); }

.GlobalError-module__show___2phKG {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.3s 1s cubic-bezier(0, 0, 0.5, 1.5);
  -o-transition: 0.3s 1s cubic-bezier(0, 0, 0.5, 1.5);
  transition: 0.3s 1s cubic-bezier(0, 0, 0.5, 1.5); }
.Loading-module__Logo___3hTv- {
  width: 70px;
  height: 70px;
  fill: #fa6423;
  -webkit-animation: Loading-module__pulse___35NNd 3s ease-in-out infinite;
          animation: Loading-module__pulse___35NNd 3s ease-in-out infinite; }

@-webkit-keyframes Loading-module__pulse___35NNd {
  0%, 100% {
    opacity: 0.5; }
  50% {
    opacity: 1; } }

@keyframes Loading-module__pulse___35NNd {
  0%, 100% {
    opacity: 0.5; }
  50% {
    opacity: 1; } }

.Loading-module__CircleWrapper___Xaq1u {
  width: 60px;
  height: 60px;
  fill: none;
  -webkit-animation: Loading-module__rotate___2QTbv 2s linear infinite;
          animation: Loading-module__rotate___2QTbv 2s linear infinite; }

.Loading-module__Circle___7q7Pm {
  stroke: #fa6423;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 150 200;
  stroke-dashoffset: -10;
  -webkit-animation: Loading-module__dash___3GuiG 1.5s ease-in-out infinite;
          animation: Loading-module__dash___3GuiG 1.5s ease-in-out infinite; }

@-webkit-keyframes Loading-module__dash___3GuiG {
  0% {
    stroke: #fa9a23;
    stroke-dasharray: 1 200;
    stroke-dashoffset: 0; }
  50% {
    stroke: #fa6423;
    stroke-dasharray: 120 200;
    stroke-dashoffset: -25; }
  100% {
    stroke: #fa9a23;
    stroke-dasharray: 120 200;
    stroke-dashoffset: -145; } }

@keyframes Loading-module__dash___3GuiG {
  0% {
    stroke: #fa9a23;
    stroke-dasharray: 1 200;
    stroke-dashoffset: 0; }
  50% {
    stroke: #fa6423;
    stroke-dasharray: 120 200;
    stroke-dashoffset: -25; }
  100% {
    stroke: #fa9a23;
    stroke-dasharray: 120 200;
    stroke-dashoffset: -145; } }

@-webkit-keyframes Loading-module__rotate___2QTbv {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes Loading-module__rotate___2QTbv {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.Layout-module__wrapper___3Z9cY {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background: #f2f2f5; }

.Layout-module__accent___iJkZW:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  background: #fa6423;
  z-index: 100; }

.Layout-module__aside___2TcYN {
  position: relative;
  -ms-flex: 0 0 0%;
      flex: 0 0 0%; }
  @media screen and (min-width: 960px) {
    .Layout-module__aside___2TcYN {
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
      max-width: 12.22222rem;
      min-width: 12.22222rem; } }

.Layout-module__content___23chO, .Layout-module__formContent___2xIHv {
  position: relative;
  padding: 1.5rem; }

.Layout-module__content___23chO {
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  margin-top: 3.88889rem; }
  @media screen and (min-width: 960px) {
    .Layout-module__content___23chO {
      margin-top: 0rem; } }

.Layout-module__container___2EaUW {
  max-width: 56.66667rem;
  margin: 0 auto; }

.Layout-module__formContent___2xIHv {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }

.Layout-module__formContainer___hvYt8 {
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  max-width: 28.88889rem;
  margin: 0 auto; }

.Layout-module__appError___2wK40, .Layout-module__formError___3pBjv {
  position: fixed;
  top: 1rem;
  right: 1rem; }

.Layout-module__appError___2wK40 {
  left: 1rem;
  top: 5.55556rem; }
  @media screen and (min-width: 960px) {
    .Layout-module__appError___2wK40 {
      left: 13.22222rem;
      top: 1rem; } }

.Layout-module__formError___3pBjv {
  left: 1rem; }

.Layout-module__loading___37ErH {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media screen and (min-width: 960px) {
    .Layout-module__container___2EaUW .Layout-module__loading___37ErH {
      margin-left: 6.11111rem; } }

.Layout-module__appError___2wK40, .Layout-module__formError___3pBjv {
  position: fixed;
  top: 1rem;
  right: 1rem; }

.Layout-module__appError___2wK40 {
  left: 1rem;
  top: 5.55556rem; }
  @media screen and (min-width: 960px) {
    .Layout-module__appError___2wK40 {
      left: 13.22222rem;
      top: 1rem; } }

.Layout-module__formError___3pBjv {
  left: 1rem; }
.Pagination-module__Selected___1oncE {
  font-weight: 700;
  color: #fa6423;
  pointer-events: none; }

.Pagination-module__PageButtons___2R45O {
  margin-bottom: 1rem; }
  @media screen and (min-width: 720px) {
    .Pagination-module__PageButtons___2R45O {
      width: 50%;
      float: left; } }

@media screen and (min-width: 720px) {
  .Pagination-module__PerPageButtons___25Wg1 {
    width: 50%;
    float: right;
    text-align: right; } }
.DeleteModal-module__Confirm___1-NgQ {
  float: left; }

.DeleteModal-module__Cancel___2nqu3 {
  float: right; }
.UsageReport-module__Display___1Q5ME {
  display: inline-block;
  margin-right: 1.83333rem; }

.UsageReport-module__Content___fGrt2 {
  margin-bottom: 0.5rem;
  font-size: 1.33333rem;
  font-weight: 400; }

.UsageReport-module__orange___2AI8f {
  color: #fa6423; }

.UsageReport-module__Label___2eZMx {
  margin-bottom: 0;
  font-size: 0.83333rem;
  font-weight: 400; }

.UsageReport-module__ProgressTitle___wJ3up {
  display: inline-block;
  font-size: 0.83333rem; }

.UsageReport-module__ProgressSecondary___2_rPe {
  display: inline-block;
  padding-left: 0.5rem;
  color: #828287;
  font-size: 0.77778rem;
  font-weight: 400; }
.TutorialItem-module__Label___2ZiT5 {
  margin-bottom: 0;
  font-size: 0.83333rem; }
  .TutorialItem-module__Label___2ZiT5.TutorialItem-module__link___bp7sT a {
    color: #37aadc;
    text-decoration: none; }
    .TutorialItem-module__Label___2ZiT5.TutorialItem-module__link___bp7sT a:hover {
      color: #2693c3; }

.TutorialItem-module__HelpText___17SJ8 {
  color: #828287; }
  .TutorialItem-module__HelpText___17SJ8 *:last-child {
    margin-bottom: 0; }

.TutorialItem-module__Content___28k8s {
  display: inline-block;
  vertical-align: middle; }

.TutorialItem-module__Completed___3085N {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  margin-top: -3px;
  fill: #9bcd5a;
  stroke: #9bcd5a;
  stroke-width: 3px; }
.ToggleBlock-module__ToggleBlock___2mslI {
  margin-bottom: 1rem; }
  .ToggleBlock-module__ToggleBlock___2mslI:last-child {
    margin-bottom: 0; }

.ToggleBlock-module__Label___3r2cw {
  display: block;
  margin-bottom: 0.33333rem;
  padding-top: 0.38889rem;
  font-weight: 400;
  font-size: 0.83333rem;
  line-height: 0.83333rem;
  color: #55555a; }

.ToggleBlock-module__ToggleWrapper___2iAHM {
  text-align: right; }

.ToggleBlock-module__Help___2Ytb_ {
  padding-top: 0.16667rem;
  font-size: 0.72222rem;
  font-weight: 500;
  line-height: 0.83333rem;
  color: #828287; }
.FormEditor-module__Panel___656Th, .FormEditor-module__EditorPanel___37USu {
  height: 100%;
  position: relative; }

.FormEditor-module__EditorPanel___37USu {
  height: 600px;
  margin-top: 1rem;
  z-index: 1; }
  @media screen and (min-width: 960px) {
    .FormEditor-module__EditorPanel___37USu {
      height: 100%;
      max-height: 100%;
      margin-top: 0; } }
.DeleteModal-module__Confirm___1CKnF {
  float: left; }

.DeleteModal-module__Cancel___2-yqg {
  float: right; }
.DateFilter-module__RangeButtonWrapper___1PRmk {
  margin-bottom: 0.33333rem; }

.DateFilter-module__Popover___2HRx8 {
  width: 35.55556rem;
  padding: 1rem; }

.DateFilter-module__DateFields___1p-i4 {
  margin: 1rem 0; }

.DateFilter-module__ArrowWrapper___33aIU {
  text-align: center; }
.TypeaheadItem-module__TypeaheadItem___1smz7:before,
.TypeaheadItem-module__TypeaheadItem___1smz7:after {
  content: "";
  display: table; }

.TypeaheadItem-module__TypeaheadItem___1smz7:after {
  clear: both; }

.TypeaheadItem-module__Value___bV57l {
  float: left;
  font-size: 0.83333rem;
  font-weight: 600; }

.TypeaheadItem-module__Type___19kPi {
  float: right;
  font-size: 0.77778rem;
  opacity: 0.8; }
.Typeahead-module__Typeahead___mSkLX {
  position: relative; }

.Typeahead-module__List___3nO7T {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 3px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 9px rgba(65, 65, 70, 0.14);
          box-shadow: 0px 5px 9px rgba(65, 65, 70, 0.14);
  border-radius: 2px;
  border: 1px solid #d2d2d7;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.06s ease-out;
  -o-transition: 0.06s ease-out;
  transition: 0.06s ease-out; }

.Typeahead-module__open___14KdN {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
.Filters-module__FieldWrapper___hhpsG {
  margin-bottom: 1rem; }
  @media screen and (min-width: 960px) {
    .Filters-module__FieldWrapper___hhpsG {
      margin-bottom: 0; } }

.Filters-module__TagWrapper___ICghJ {
  margin: 0 0.33333rem; }
.MetricsModal-module__Apply___2SJ58 {
  float: left; }

.MetricsModal-module__Cancel___3uOFv {
  float: right; }
.SummaryPage-module__AddMetric___2eG3y {
  position: absolute;
  right: 1.33333rem;
  top: 1.33333rem; }

.SummaryPage-module__ChartSection___3vJVi {
  position: relative;
  padding: 1rem;
  min-height: 26.66667rem;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s; }

.SummaryPage-module__pending___ZsaVK {
  opacity: 0.5;
  pointer-events: none; }

.SummaryPage-module__Loading___1OZWO {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.SummaryPage-module__TimeMode___2fb7T {
  display: inline-block;
  font-size: 0.72222rem;
  line-height: 0.83333rem;
  color: #828287;
  padding: 0.33333rem 0 0; }

.SummaryPage-module__Controls___39ykx {
  position: absolute;
  top: 1.66667rem;
  right: 1.33333rem; }

.SummaryPage-module__ButtonSpacer___2Nycj {
  margin-left: 0.33333rem; }

/*# sourceMappingURL=main.1d880cf6.css.map*/