@import '~@sparkpost/matchbox/src/styles/config.scss';

.SortLabel {
  display: inline-block;
  position: relative;
  color: color(gray, 2);
  padding-right: spacing(large);

  user-select: none; // Prevents highlight when clicking
  transition: 0.15s;
}

.Up, .Down {
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 0.4;
  transform: translate(0, -50%);
}

.Up {
  margin-top: -4px;
}

.Down {
  margin-top: 4px;
}

.SortLabel.asc .Up, .SortLabel.desc .Down {
  opacity: 1;
}
