@import '~@sparkpost/matchbox/src/styles/config.scss';

.SmallHeader {
  // margin-bottom: spacing();
  // color: color(orange);
  font-size: rem(14);
}

.HelpText {
  word-break: normal;
  word-wrap: normal;
  font-size: rem(14);
}
