@import '~@sparkpost/matchbox/src/styles/config.scss';

.LoadingWrapper {
  padding: rem(100) 0 rem(100);
  text-align: center;
}

.ProcessingWrapper {
  padding: spacing() 0 spacing(larger);
  text-align: center;
}