@import '~@sparkpost/matchbox/src/styles/config.scss';

.HelpText {
  word-break: normal;
  word-wrap: normal;
  font-size: rem(14);
}

.SmallHeader {
  font-size: rem(14);
}

.InfoIcon {
  color: color(gray, 5);
}
